/* MOBILE FIRST */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a52a2a;
    color: white;
    height: 50px;
}

header h1 {
    padding-left: 5px;
    font-size: 20px;
}

/* NAVIGATION */

nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(200,100,100);
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    height: 70px;
}

nav ul li a{
    display: block;
    height: 70px;
}

nav ul li .menuPC {
    display: none;
}

nav img {
    padding: 20px;
}

nav img:hover {
    background-color: #a52a2a;
}

/* MAIN CONTAINER */

#MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#MainContainer h1 {
    color: #a52a2a;
    font-size: 25px;
    padding: 0px;
}

/* CONTAINER */

.container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #a52a2a;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container h2 {
    background-color: #a52a2a;
    color: white;
    font-size: 20px;
}

.paragraph {
    padding: 20px;
    overflow-x: auto;
}

  .Slider_container {
    max-width: 1000px; 
    position: relative;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 15px 35px -15px #656565;
    border-radius: 1rem;
    z-index: -1;
  }
  
  .slider { 
    margin: 0 auto; 
    width: 100%; 
    height: 100%;
    display: flex; 
    overflow: hidden; 
    scroll-behavior: smooth;
  } 
  
  #Slider_container img { 
    width: 1000px !important;
    height: 300px !important; 
  }
  
  #next { 
    left: unset; 
    right: -20px; 
  }

  .margin_20 {
      margin: 20px;
  }

  /* CLOCK */

.clock-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .clock {
    height: 200px;
    width: 200px;
    background-color: #a52a2a;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    margin: 20px;
  }
  
  .circle {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  
  .hands {
    --rotate: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(var(--rotate));
    transform-origin: bottom;
  }
  
  .second {
    /*   --rotate: 90deg; */
    width: 2px;
    height: 70px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #eee;
    z-index: 12;
  }
  
  .minute {
    /*   --rotate: 110deg; */
    width: 4px;
    height: 60px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(200,100,100);
    z-index: 11;
  }
  
  .hour {
    /*   --rotate: 60deg; */
    width: 4px;
    height: 40px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(200,100,100);
  }
  
  .number {
    --rotate: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    transform-origin: center;
    transform: rotate(var(--rotate));
    padding-top: 0.5rem;
  }
  
  .number-1 {
    --rotate: 30deg;
  }
  .number-2 {
    --rotate: 60deg;
  }
  .number-3 {
    --rotate: 90deg;
  }
  .number-4 {
    --rotate: 120deg;
  }
  .number-5 {
    --rotate: 150deg;
  }
  .number-6 {
    --rotate: 180deg;
  }
  .number-7 {
    --rotate: 210deg;
  }
  .number-8 {
    --rotate: 240deg;
  }
  .number-9 {
    --rotate: 270deg;
  }
  .number-10 {
    --rotate: 300deg;
  }
  .number-11 {
    --rotate: 330deg;
  }
  .number-12 {
    --rotate: 360deg;
  }

/* ROL */

.admin {
    color: red;
}

.user {
    color: green;
}

.moderator {
    color: orange;
}

/* MY PROFILE */

#buttonConfig {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background-color: #a52a2a;
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 5px;
    border: 3px solid #a52a2a;
    cursor:pointer;
}

button:hover {
    transition: 0.5s;
    border: 3px solid black;
}

.imgProfileEdit {
    background-color: #a52a2a;
}

.buttonEdit {
    margin-left: 10px;
    padding: 0px;
    width: 25px;
    height: 25px;
}

.user_table{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
}

.infoUser {
    margin: 0px;
    width: 100%;
}

.hide {
    display: none;
}

.user_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_photo input {
    margin-bottom: 30px;
}

.user_photo img {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 100%;
    width: 100px;
    height :100px;
    background-color: #a52a2a;
}

.user_photo a {
    text-decoration: none;
}

.change {
    width: 30px !important;
    height: 30px;
    border-radius: 100%;
    padding: 0px;
    padding-top: 2px;
}

.mid {
    display: flex;
    justify-content: center;
}

.mid button {
    margin-right: 0px !important;
}

.input_change {
    width: 100% !important;
}

.button_change {
    color: white;
    background-color: #a52a2a;
    border: 3px solid #a52a2a !important;
    width: 100px !important;
}

.button_change:hover {
    border-color: black !important;
}

/* CONFIGURATION */

.block_user {
    display: flex !important;
    border: 1px solid #a52a2a;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
}

.block_left {
    display: flex;
    flex-direction: row;
}

.block_buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 15px;
}

.block_buttons input {
    width: 200px !important;
}

.img_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_user img {
    width: 100px;
    height: 100px;
    background-color: rgb(200,100,100);
}

.img_user a {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a52a2a;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 35px;
}

.img_user a:hover {
    border: 3px solid black;
}

/* START */

.row_post {
    border: 1px solid #a52a2a;
    display: flex;
    flex-direction: row;
    color: black;
}

#start_bar {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(200,100,100);
}

.bar_0, .bar_1, .bar_2, .bar_3, .bar_4, .bar_5, .bar_6, .bar_7 {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    overflow-x: auto;
}

.bar_0 {
    width: 70px;
}

.bar_1 {
    display: none;
}

.bar_2 {
    display: none;
}

.bar_3 {
    width: 100%;
}

.bar_4 {
    display: none;
}

.bar_5 {
    display: none;
}

.bar_6 {
    display: none;
}
.bar_7 {
    display: none;
}

.row_post img {
    width: 50px;
    height: 50px;
}

.row_post:hover {
    transition: 0.5s;
    color: white;
    background-color: #a52a2a;
}

#pagination {
    display: flex;
    width: 100%;
}

#pagination a {
    text-decoration: none;
}

#pagination span {
    display: block;
    border: 1px solid #a52a2a;
    width: 10px;
    text-align: center;
}

.pag {
    width: 20px !important;
    color: #a52a2a;
    background-color: white;
    border-color: #a52a2a;
}

/* LOGIN BOX */

#loginBox {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.link_login {
    display: block;
    color: black;
    padding: 20px;
    text-align: center;
}

.link_login:hover {
    font-weight: 500;
}

/* LOGOUT */

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

#logout input {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

/* REGISTRATION */

.container table {
    box-sizing: border-box;
    width: 100%;
}

.container table td {
    padding: 10px;
    width: 50%;
}

.container input {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgb(200, 200, 200);
}

.container input:hover {
    border-color: #a52a2a;
}

.container hr{
    margin: 10px;
}

.container .note {
    padding: 10px;
}

.containerInside {
    box-sizing: border-box;
    border: 1px solid #a52a2a;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 10px;
}

.container textarea {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    resize: none;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px;
}

.rules input {
    width: auto;
    margin: 5px;
}

.button, .button_config {
    background-color: #a52a2a;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: 5px solid #a52a2a !important;
}

.button:hover, .button_config:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 5px solid black !important;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#buttons .button, #buttons .button_config {
    width: 45%;
}

.err {
    padding: 10px;
    color: red;
}

.ok {
    padding: 10px;
    color: green;
}

/* Topics */

#topics_select, #topics_title, #topics_text {
    margin: 20px;
}

#topics_title {
    width: 70%;
    border: 2px solid #a52a2a;
}

#topics_text {
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    height: 400px;
    resize: none;
}

.topic_p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a52a2a;
    padding-left: 10px;
}

.topic_a {
    text-decoration: none;
    color: #a52a2a;
}

.topic_a:hover {
    text-decoration: none;
    color: white;
}

.topic_p img {
    width: 50px;
    height: 50px;
}

.topic_p:hover {
    transition: 0.5s;
    background-color: #a52a2a;
}

/* POST */

.post_info {
    display: flex;
    padding: 20px;
}

.post_info a {
    display: block;
    text-align: center;
    background-color: #a52a2a;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #a52a2a;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
}

.post_info a:hover {
    transition: 0.5s;
    border: 3px solid black;
}

.post_info img{
    width: 100px;
    height: 100px;
    background-color: #a52a2a;
    border-top: 1px solid #a52a2a;
    border-left: 1px solid #a52a2a;
    border-bottom: 1px solid #a52a2a;
}

.post_info div:first-child {
    width: 100px;
}

.post_data {
    box-sizing: border-box;
    border: 1px solid #a52a2a;
    width: 100%;
    padding: 10px;
    overflow-x: auto;
}

.post_data p {
    margin-bottom: 10px;
}

.post_topics_name {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.buttons_post {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button_post {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #a52a2a;
    border: 3px solid #a52a2a !important;
    color: white;
    width: 140px !important;
}

.button_post:hover {
    cursor: pointer;
    transition: 0.5s;
    border: 3px solid black !important;
}

/* FOOTER */

footer {
    text-align: center;
    margin-bottom: 80px;
}

/* MEDIA QUERY */

@media (min-width: 650px) {

header {
    height: 110px;
}

header h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

nav {
    position: relative;
    height: 50px;
}

nav ul {
    justify-content: center;
}

nav ul li .menuPC {
    box-sizing: border-box;
    display: block;
    color: white;
    text-decoration: none;
    width: 120px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
}

nav ul li .menuPC:hover {
    transition: 0.5s;
    background-color: #a52a2a;
}

nav ul li .menuPH {
    display:none;
}

footer {
    margin-top: 5px;
    margin-bottom: 15px;
}

#buttonConfig {
    width: 100%;
    display: flex;
    justify-content: start;
}

.user_table tr td {
    width: 400px;
    padding: 20px;
}

.bar_0, .bar_1, .bar_2, .bar_3, .bar_4, .bar_5, .bar_6, .bar_7 {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    overflow-x: auto;
}

.bar_0 {
    width: 10%;
}

.bar_1 {
    /* justify-content: center; */
    width: 10%;
}

.bar_1 img {
    width: 20px;
}

.bar_2 {
    width: 10%;
}

.bar_3 {
    width: 20%;
}

.bar_4 {
    width: 20%;
}

.bar_5 {
    width: 10%;
}

.bar_6 {
    width: 10%;
}

.bar_7 {
    width: 10%;
}

}

@media (min-width: 1024px) {

.table_fancy {
    width: 50% !important;
    padding: 20px;
}

.container input {
    width: 200px;
}

.container #accepted_rules {
    width: 15px;
}

#buttons {
    width: 400px;
    float: right;
}

.buttons_login {
    float: none !important;
    margin: auto;
}

.container table .izq{
    width: 10%;
}

#loginBox {
    width: 500px;
    margin: auto;
}

.bar_0, .bar_1, .bar_2, .bar_3, .bar_4, .bar_5, .bar_6, .bar_7 {
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
}

.bar_0 {
    width: 5%;
}

.bar_1 {
    width: 5%;
}

.bar_2 {
    width: 10%;
}

.bar_3 {
    width: 40%;
}

.bar_4 {
    width: 10%;
}

.bar_5 {
    width: 10%;
}

.bar_6 {
    width: 10%;
}

.bar_7 {
    width: 10%;
}

.information {
    display: flex;
    justify-content: space-between;
}

}