/* MOBILE FIRST */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a52a2a;
    color: white;
    height: 50px;
}

header h1 {
    padding-left: 5px;
    font-size: 20px;
}

/* NAVIGATION */

nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(200,100,100);
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    height: 70px;
}

nav ul li a{
    display: block;
    height: 70px;
}

nav ul li .menuPC {
    display: none;
}

nav img {
    padding: 20px;
}

nav img:hover {
    background-color: #a52a2a;
}

/* MAIN CONTAINER */

#MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#MainContainer h1 {
    color: #a52a2a;
    font-size: 25px;
    padding: 0px;
}

/* CONTAINER */

.container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #a52a2a;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container h2 {
    background-color: #a52a2a;
    color: white;
    font-size: 20px;
}

/* LOGIN BOX */

#loginBox {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.link_login {
    display: block;
    color: black;
    padding: 20px;
    text-align: center;
}

.link_login:hover {
    font-weight: 500;
}

/* LOGOUT */

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

#logout input {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

/* REGISTRATION */

.container table {
    box-sizing: border-box;
    width: 100%;
}

.container table td {
    padding: 10px;
    width: 50%;
}

.container input {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgb(200, 200, 200);
}

.container input:hover {
    border-color: #a52a2a;
}

.container hr{
    margin: 10px;
}

.container .note {
    padding: 10px;
}

.containerInside {
    box-sizing: border-box;
    border: 1px solid #a52a2a;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 10px;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px;
}

.rules input {
    width: auto;
    margin: 5px;
}

.button {
    background-color: #a52a2a;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: 5px solid #a52a2a !important;
}

.button:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 5px solid black !important;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#buttons .button {
    width: 45%;
}

.err {
    padding: 10px;
    color: red;
}

.ok {
    padding: 10px;
    color: green;
}

/* FOOTER */

footer {
    text-align: center;
    margin-bottom: 80px;
}

/* MEDIA QUERY */

@media (min-width: 650px) {

header {
    height: 110px;
}

header h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

nav {
    position: relative;
    height: 50px;
}

nav ul {
    justify-content: center;
}

nav ul li .menuPC {
    box-sizing: border-box;
    display: block;
    color: white;
    text-decoration: none;
    width: 120px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
}

nav ul li .menuPC:hover {
    transition: 0.5s;
    background-color: #a52a2a;
}

nav ul li .menuPH {
    display:none;
}

footer {
    margin-top: 5px;
    margin-bottom: 15px;
}

}

@media (min-width: 1024px) {

.container input {
    width: 200px;
}

.container #accepted_rules {
    width: 15px;
}

#buttons {
    width: 400px;
    float: right;
}

.buttons_login {
    float: none !important;
    margin: auto;
}

.container table .izq{
    width: 10%;
}

#loginBox {
    width: 500px;
    margin: auto;
}

}